// Colors
$accent: #E03E10;
$blue: #3C56D6;
$green: #1BE809;
$red: #E53737;
$yellow: #C99D00;
$white: #FFFFFF;
$gray: #B8B8B8;
$gray-dark: #696969;
$dark-bg: #070E17;
$light-bg: #09111D;
$abs-light-bg: #0D1623;
$section-color: #e4ecfe;
$abs-light-bg-color: rgb(178 192 222);
$dark-border: #0A1524;
$light-border: #0E1E35;
$light-input: #0C1828;
$light-for-dark: #0E1723;
$skeleton-bg: #0f1d33;
$gutter: 60px;

// Font names
$default-font: 'Roboto, sans-serif';
$fonts-path: '/public/fonts/';
$fa-font-path: $fonts-path + 'FontAwesome/fa/';

// Global Variables
:root {
  --accent: #{$accent};
  --blue: #{$blue};
  --green: #{$green};
  --red: #{$red};
  --yellow: #{$yellow};
  --white: #{$white};
  --gray: #{$gray};
  --gray-dark: #{$gray-dark};
  --light-bg: #{$light-bg};
  --abs-light-bg: #{$abs-light-bg};
  --section-color: #{$section-color};
  --abs-light-bg-color: #{$abs-light-bg-color};
  --dark-border: #{$dark-border};
  --light-border: #{$light-border};
  --light-input: #{$light-input};
  --light-for-dark: #{$light-for-dark};
  --skeleton-bg: #{$skeleton-bg};
  --gutter: #{$gutter};
  --default-font: #{$default-font};
}