@import "../../variables";
@import "../../mixins/skeleton";

.navigation-category__item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px 0 15px 40px;
  width: 100%;
  color: $abs-light-bg-color;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;

  &:before {
    content: "";
    width: 0;
    height: 100%;
    background: linear-gradient(
                    270deg,
                    rgba($accent, 0.3) 0%,
                    rgba($accent, 0) 97.38%
    );
    position: absolute;
    border-right: none;
    right: 0;
    transition: width 0.5s ease-in-out, border 0.2s ease-in-out;
  }

  &:not(.active) {
    &:hover {
      background-color: lighten($dark-bg, 5%);
    }
  }

  &.active {
    svg {
      path {
        fill: $accent;
      }
    }

    &:before {
      width: 100%;
      border-right: 2px solid $accent;
    }
  }

  svg {
    margin-right: 15px;
    width: 18px;
    height: 18px;

    path {
      fill: $abs-light-bg-color;
    }
  }

  li {
    display: flex;
    align-items: center;

    @include skeleton {
      width: 190px;
      height: 10px;
      border-radius: 10px;

      > svg {
        opacity: 0;
      }
    }
  }
}