@import "../../variables";

.navigation-category {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__name {
    color: $accent;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    margin-left: 40px;
  }

  &-items {
    display: flex;
    flex-direction: column;
  }
}