$accent: #E03E10;
$white: #FFF;
$blue: #3C56D6;
$red: #E53737;
$green: #1BE809;
$gray: #939393;
$light-gray: #E1E1E1;
$dark: #070E17;
$bg: #09111D;
$light-dark: #0C1A2C;
$fa-font-path: "/fonts/FontAwesome/";
$path-to-fonts: "/fonts/";
