@import "../../variables";

.other-links {
  margin-top: 30px;
  margin-bottom: 55px;

  p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 7px 0;

    span {
      color: $accent;
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: darken($accent, 10%);
      }
    }
  }
}