@import "../../variables";

.mobile-player {
  width: 100%;
  padding: 8px;
  background-color: $dark-bg;
  display: flex;
  justify-content: space-between;

  &-info {
    display: flex;
    align-items: center;
  }

  &-control {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 50px;
    height: 40px;
    border-radius: 10px;
  }

  &-names {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 10px;
  }

  &__track-name {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  &__author {
    color: $gray;
    font-size: 11px;
    font-weight: 400;
  }

  &__button {
    background-color: transparent;
    margin-right: 13px;
    height: max-content;
    padding: 5px;
    transition: opacity 0.4s ease-in-out;

    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.play-pause svg {
      width: 13px;
      height: 16px;
    }

    &.next svg {
      width: 13px;
      height: 12px;
    }
  }
}