@import "../../variables";

.drop-down__item {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  color: $white;
  font-size: 14px;
  font-weight: 300;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;

  &.multiple {
    position: relative;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    background-color: lighten($bg, 15%);
  }
}
