@import "../../variables";

.track {
  width: 100%;
  height: 55px;
  display: flex;
  padding-right: 19px;
  justify-content: space-between;
  transition: background-color 0.4s;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background-color: lighten($dark-bg, 5%);
  }

  &:hover &__duration {
    color: #fff;
  }

  &.active {
    background-color: lighten($dark-bg, 5%);
  }

  &.active &__duration {
    color: #fff;
  }

  &__duration {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $gray-dark;
    margin-right: 38px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
  }

  &-info-right {
    display: flex;
    justify-content: center;
  }
}