@import "../variables";

.base-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow: hidden;
  height: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.navigation {
  min-width: 300px;
  border-right: 1px solid $light-bg;
}

.content-scroll {
  height: 100%;
  overflow: auto;
}

.main-content {
  margin-bottom: 30px;
}