@import "../../variables";

.calendar {
  background-color: $abs-light-bg;
  width: 435px;
  height: max-content;
  border-radius: 10px;
  padding: 20px 28px;

  &-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__month-name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    pointer-events: none;

    &::selection {
      background-color: $abs-light-bg;
    }
  }
}


