@import "../../variables";

.subscription {
  // Blocks
  &-wrapper {
    width: 376px;
    height: max-content;
    background-color: $dark;
    border-radius: 5px 5px 0 0;
  }

  &-inner {
    padding: 35px 35px;
  }

  // Elements
  &__title {
    color: $white;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__description {
    color: $gray;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
  }

  &__old-price,
  &__price {
    font-weight: 500;
    text-align: center;
  }

  &__old-price {
    color: $gray;
    font-size: 18px;
    text-decoration: line-through;
    margin-bottom: 10px;
  }

  &__price {
    color: $white;
    font-size: 24px;
  }

  &-permissions {
    margin-top: 20px;
  }

  &__permission {
    color: $white;
    margin-bottom: 15px;

    &-text {
      color: $light-gray;
      font-size: 14px;
      font-weight: 500;
      margin-left: 20px;
    }

    &.allowed:before,
    &.forbidden:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      width: 13px;
      height: 12px;
    }

    &.allowed:before {
      background-image: url(~/static/images/icons/check-mark.svg);
    }

    &.forbidden:before {
      background-image: url(~/static/images/icons/cross.svg);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__buy-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
}
