@import "../variables";

.out-advantages__title {
  color: #fff;
  text-align: center;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 65px;
  margin-top: 65px;
}

.advantage {
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    margin-right: 18px;
  }

  &__title {
    color: $accent;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}

.subscriptions {
  margin-top: 200px;
  margin-bottom: 200px;
}

.subscriptions__title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.subscriptions__text {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 70px;
  text-align: center;
}

.subscription__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}