@import "../variables";

.active-sessions {
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  &__delete-btn {
    color: $red;
    height: 45px;

    &.delete-all {
      width: max-content;
      margin-top: 15px;
    }

    &.skeleton-active {
      background-color: $skeleton-bg;
      color: transparent;
      width: 150px;
      height: 30px;
    }
  }
}

.active-session {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-border;
  display: flex;
  flex-direction: row;

  :last-of-type {
    margin-bottom: 0;
  }

  &__left {
    margin-right: 15px;

    svg {
      width: 17px;
      height: 17px;
      display: block;

      &.skeleton-active {
        background-color: $skeleton-bg;
        border-radius: 100%;

        ::v-deep path {
          opacity: 0;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-top,
    &-down {
      margin-bottom: 10px;
      color: $gray;
      font-size: 16px;
      font-weight: 400;

      &.skeleton-active {
        background-color: $skeleton-bg;
        width: 270px;
        height: 10px;
        border-radius: 10px;
        color: transparent;

        > span {
          color: transparent;
        }
      }
    }
  }

  &__device,
  &__browser {
    color: #fff;
    font-weight: bold;
  }

  &__activity {
    &.now {
      color: $green;
    }
  }
}

.field__wrapper {
  width: 400px;
  margin-bottom: 15px;

  &.skeleton-active {
    background-color: $skeleton-bg;
    border-radius: 10px;

    > input {
      opacity: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.dark-input {
  background-color: transparent;
  border: 1px solid $light-border;
  padding: 7px 20px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  display: block;
  width: inherit;

  &::placeholder {
    color: rgba($gray, 0.5);
  }
}

.security__buttons {
  display: flex;

  > button.base-button {
    min-width: 100px;
    border-radius: 5px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    &.skeleton-active {
      background-color: $skeleton-bg;
      border-radius: 10px;
      color: transparent;
      height: 39px;
    }
  }
}