@import "../../variables";

.checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid $gray;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  border-radius: 2px;

  // Pseudo classes
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transform: rotate(317deg) scale(0);
    border-radius: 1px;
  }

  &:before {
    width: 2px;
    height: 6px;
    bottom: 2px;
    left: 3px;
  }

  &:after {
    width: 2px;
    height: 12px;
    bottom: 1px;
    left: 9px;
  }

  &:checked {
    background-color: $accent;
    border-color: $accent;

    &:before {
      transform: rotate(317deg) scale(1);
    }

    &:after {
      transform: rotate(45deg) scale(1);
    }
  }
}
