@import "../../variables";

.copyright {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid $light-border;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  a {
    color: #fff;
    margin-right: 50px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $accent;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}