// Background and hover for button
@mixin buttonBackground($theme-name, $bg, $color, $functionHover: "darken", $hover-bg: null) {
  &.bg--#{$theme-name} {
    background-color: $bg;
    color: $color;

    @if $hover-bg {
      &:hover {
        background-color: $hover-bg;
      }
    } @else {
      &:hover {
        background-color: call(get-function($functionHover), $bg, 10%);
      }
    }
  }
}

@mixin withoutBackgroundWithHover($theme-name, $color, $hover-bg) {
  &.hover-bg--#{$theme-name} {
    color: $color;

    &:hover {
      background-color: $hover-bg;
    }
  }
}
