@import "../../variables";

.block-notifications-top {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid $light-border;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $abs-light-bg-color;
    font-size: 16px;
    font-weight: 500;
  }

  &__read-all {
    font-size: 14px;
    padding: 0;

    &:hover {
      background-color: transparent!important;
    }
  }
}