@import "../../variables";

$notification-height: 400px;

.block-notifications {
  position: absolute;
  width: 420px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $light-border;
  background-color: $abs-light-bg;
  height: $notification-height;
  z-index: 100;

  &-inner {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: -44px;
      border: 12px solid transparent;
      border-bottom: 12px solid $light-border;
      right: 40px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -40px;
      border: 10px solid transparent;
      border-bottom: 10px solid $abs-light-bg;
      right: 42px;
      z-index: 9;
    }
  }

  &-content {
    overflow: auto;
    height: $notification-height - 70px;
    padding-right: 10px;
  }
}