@import "../../variables";

.footer {
  width: 100%;
  height: 500px;
  background-color: $dark-bg;
  padding-top: 50px;
  padding-bottom: 30px;

  &__logo {
    margin-bottom: 60px;
  }

  &-columns {
    display: flex;
  }
}