// Background and hover for button
@mixin buttonBackground($theme-name, $color, $functionHover: "darken", $hover-bg: null) {
  &.bg--#{$theme-name} {
    background-color: $color;

    @if $hover-bg {
      &:hover {
        background-color: $hover-bg;
      }
    } @else {
      &:hover {
        background-color: call($functionHover, $color, 10%);
      }
    }
  }
}

// Color button
@mixin buttonColor($theme-name, $color, $functionHover: "darken", $hover-bg: null) {
  &.color--#{$theme-name} {
    color: $color;

    @if $hover-bg {
      &:hover {
        color: $hover-bg;
      }
    } @else {
      &:hover {
        color: call($functionHover, $color, 10%);
      }
    }
  }
}