@import "../variables";

.vue-slider-rail {
  background-color: lighten($light-bg, 5%);
  border-radius: 5px;
}

.vue-slider-process {
  background-color: $accent;
  transition-duration: 0s !important;
  border-radius: 5px;
}

.vue-slider-dot {
  width: 12px !important;
  height: 12px !important;
  background-color: $accent;
  border-radius: 100%;
  border: 2px solid #fff;
  transition: transform 0.2s ease-in-out !important;

  &:hover {
    transform: translate(-50%, -50%) scale(1.3) !important;
  }
}

.vue-slider-dot-tooltip {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border-color: $accent;
  background-color: $accent;
}

.vue-slider-dot-tooltip-inner-bottom:after,
.vue-slider-dot-tooltip-inner-top:after {
  left: 50%;
  transform: translate(-50%);
  height: 0;
  width: 0;
}

.vue-slider-dot-tooltip-inner-top:after {
  top: 97%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: $accent;
}

.vue-slider-dot-tooltip-inner:after {
  content: "";
  position: absolute;
}

.vue-slider-dot-tooltip-inner-bottom:after {
  bottom: 97%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: #e03e10;
}