@import "../../variables";
@import "../../mixins/skeleton";

.header-bell {
  margin-right: 20px;
  position: relative;

  &__button {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    cursor: pointer;
    padding: 0;

    &:before {
      content: "";
      position: absolute;
      width: 8.5px;
      height: 8.5px;
      background-color: $accent;
      border: 1px solid #fff;
      top: 3.5px;
      right: 0;
      border-radius: 100%;
    }

    svg {
      width: inherit;
      height: inherit;

      &:hover {
        path {
          fill: darken(#fff, 40%);
        }
      }

      path {
        transition: fill 0.2s ease-in-out;
      }
    }

    @include skeleton {
      width: 24px;
      height: 24px;
      border-radius: 100%;

      &:before {
        opacity: 0;
      }

      svg {
        opacity: 0;
      }
    }
  }
}