@import "../../mixins/skeleton";

.header-user {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include skeleton {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    img {
      opacity: 0;
    }
  }

  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
  }
}