@import "../../variables";

.toolbar-mobile {
  width: 435px;
  height: 50px;
  background-color: $dark-bg;
  position: relative;
  border-top: 1px solid $light-border;

  &-items {
    display: flex;
  }
}