@import "../../variables";

.select-search {
  &-wrapper {
    position: relative;

    svg {
      position: absolute;
      width: 15px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input {
    background-color: $dark-bg;
    border: none;
    border-bottom: 1px solid $light-border;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 35px 10px 13px;
    color: #fff;
    outline: none;

    &::placeholder {
      color: #EFEFEF;
    }
  }
}