@import "../variables";

.section {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 $gutter;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
}