@import "../variables";

.active-sessions {
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  &__btn-delete {
    height: 45px;

    &.all {
      width: max-content;
      margin-top: 15px;
    }

    &.skeleton-active {
      background-color: $skeleton-bg;
      color: transparent;
      width: 150px;
      height: 30px;
    }
  }
}

.field__wrapper {
  width: 400px;
  margin-bottom: 15px;

  &.skeleton-active {
    background-color: $skeleton-bg;
    border-radius: 10px;

    > input {
      opacity: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.dark-input {
  background-color: transparent;
  border: 1px solid $light-border;
  padding: 7px 10px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  display: block;
  width: inherit;
  font-size: 14px;

  &::placeholder {
    color: rgba($section-color, 0.5);
    font-size: 14px;
  }
}

.security__buttons {
  display: flex;

  > button.base-button {
    min-width: 100px;
    border-radius: 5px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}