.security-modal-form {
  &-button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
  }

  &__button {
    border-radius: 60px;
    padding: 14px 30px;
    font-weight: 500;
  }
}