<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="shortcut icon" href="{{ assetAliasPath('cdm-icon') }}" type="image/x-icon">
</head>
<body>
<div class="container">
    <h1 class="error-code">Error 404</h1>
    <p class="error-text">
        Something seems to have gone wrong! The page you requested does not exist
    </p>
    <a class="btn__to-main" href="/">Go to Main page</a>
</div>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .body {
        background-color: #6a09ff0a;
    }

    .container {
        max-width: 1110px;
        margin: 150px auto;
        text-align: center;
    }

    .error-code {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 35px;
        margin-bottom: 35px;
    }

    .error-text {
        letter-spacing: 2.5px;
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .btn__to-main {
        text-decoration: none;
        color: #fff;
        background: #4a5ab1a6;
        padding: 10px 40px;
        display: block;
        width: max-content;
        margin: 30px auto;
        border-radius: 40px;
    }
</style>
</body>
</html>