.subscription-option {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__name {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
}