<!doctype html>
<html dir="ltr">
<head>
    <title>{{ parameters.app_title }}</title>
    {# Подключение файла с meta-тегами #}
    {% include './blocks/meta.html.twig' %}

    {# Подключение файла с links(css...) #}
    {% include './blocks/link.html.twig' %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SC9XGDPPW8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag(){
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-SC9XGDPPW8');
    </script>
</head>
<body>

<div id="app">
    <router-view :data-parameters="{{ parameters | json_encode() }}"></router-view>
</div>

{% include './blocks/footer.html.twig' %}
</body>
</html>