// Colors
$accent: #E03E10;
$blue: #3C56D6;
$green: #1BE809;
$red: #E53737;
$yellow: #C99D00;
$white: #FFFFFF;
$gray: #B8B8B8;
$gray-dark: #696969;
$dark-bg: #070E17;
$light-bg: #09111D;
$abs-light-bg: #0D1623;
$dark-border: #0A1524;
$light-border: #0E1E35;
$light-input: #0C1828;
$light-for-dark: #0E1723;
$gutter: 60px;

// Font names
$default-font: 'Roboto, sans-serif';

// Paths
$fonts-path: '/public/fonts/';
$roboto-path: $fonts-path + 'Roboto/';
$fa-font-path: $fonts-path + 'FontAwesome/fa/';