@import "normilize";
@import "variables";
@import "fonts";
@import "buttons";
@import "common/index";
@import "libs/font-awesome";
@import "reservedClasses";

body {
  font-family: Roboto, sans-serif;
  background-color: $light-bg;
}

html, body, #app {
  height: 100%;
}