@import "normilize";
@import "variables";
@import "fonts";
@import "buttons";
@import "components/commonComponents";
@import "libs/font-awesome";

body {
  font-family: Roboto, sans-serif;
  background-color: $light-bg;
}

html, body, #app {
  height: 100%;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.c-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}