@import "../../variables";

.track {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  height: 50px;
  border-radius: 5px;
  width: 500px;
  position: absolute;
  top: 150px;
  left: 300px;

  // Blocks
  &-img-wrapper {
    position: relative;
  }

  &-names {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  &-authors {
    margin-top: 2px;
  }

  &-buttons {
    margin-right: 15px;
  }

  // Elements
  &__image {
    width: 80px;
    height: 50px;
  }

  &__title {
    color: $white;
    font-weight: 500;
    font-size: 14px;
  }

  &__author-link {
    color: $gray;
    font-weight: 100;
    font-size: 13px;

    &:hover {
      border-bottom: 1px solid $gray;
    }
  }

  &__duration-time {
    margin-right: 30px;
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    transition: color 0.3s ease-in-out;
  }

  &__button {
    svg > circle, path {
      transition: 0.3s ease-in-out;
    }

    &.like {
      margin: 0 10px;

      svg path {
        stroke-width: 1.5px;
      }

      &:hover svg path {
        stroke: $accent;
      }
    }

    &.menu {
      width: 15px;

      svg {
        height: 15px;

        circle {
          r: 2;
        }
      }

      &:hover svg circle {
        fill: $accent;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  // Pseudo classes
  &:hover {
    background-color: lighten($bg, 10%);
  }

  &:hover &__duration-time {
    color: $white;
  }
}
