@import "../../variables";

.album {
  width: 150px;
  height: 140px;
  transition: opacity 0.3s ease-in-out;

  &__image {
    width: 150px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 5px;
  }

  &__title {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.hover {
    opacity: 0.7;
  }
}
