@import "../../variables";

.single-album {
  &__play-button {
    position: absolute;
    top: 40%;
    right: -20px;
    background-color: $blue;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid $bg;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}
