@import "../../variables";
@import "../../mixins/scrollbarMixin";

$notification-height: 400px;

.block-notifications {
  position: absolute;
  width: 420px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $light-border;
  background-color: $abs-light-bg;
  height: $notification-height;
  z-index: 100;

  &__wrapper {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: -44px;
      border: 12px solid transparent;
      border-bottom: 12px solid $light-border;
      right: 40px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -40px;
      border: 10px solid transparent;
      border-bottom: 10px solid $abs-light-bg;
      right: 42px;
      z-index: 9;
    }
  }

  &__top {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-border;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    overflow: auto;
    height: $notification-height - 70px;
    padding-right: 10px;

    @include scrollbarMixin();

    & > div.notification:last-of-type {
      border-bottom: none;
    }
  }

  &__title {
    color: $abs-light-bg-color;
    font-size: 18px;
    font-weight: 400;
  }

  &__read-all {
    color: $accent;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: darken($accent, 10%);
    }
  }
}

.no_notifications {
  color: $gray;
  text-align: center;
  margin-top: 20px;
}