.alerts {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  z-index: 9999;

  div.fixed-alert {
    margin: 7.5px 0;
  }
}

.alert-fade-enter-active,
.alert-fade-leave-active {
  transition: all 0.5s ease;
  opacity: 1;
}

.alert-fade-enter,
.alert-fade-leave-to {
  transition: all 0.5s ease;
  opacity: 0;
}