@import "../../variables";
@import "../../mixins/skeleton";

.header {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba($dark-bg, 0.5);
  position: absolute;
  padding: 20px $gutter;
  z-index: 99;
  align-items: center;

  &-right-info {
    display: flex;
    align-items: center;
  }

  &__page-title {
    font-size: 20px;
    color: $section-color;
    display: flex;
    align-items: center;

    @include skeleton {
      width: 190px;
      height: 15px;
    }
  }
}

.block-notifications {
  right: -62px;
  top: 45px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(35px);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
  transform 0.5s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}