@import "../../variables";

.header {
  &__heading {
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
    font-size: 32px;
    padding-top: 40px;
  }

  &__sub-title {
    font-size: 16px;
    color: $gray;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &-content {
    display: flex;
    padding-top: 130px;

    &-right {
      img {
        width: 100%;
      }
    }

    &__button {
      padding: 12px 25px;
      border-radius: 30px;
      width: max-content;
    }
  }
}