@import "../../variables";

.favorite-songs,
.my-playlists {
  & ::v-deep path {
    fill: none;
    stroke: $abs-light-bg-color;
  }

  &.active {
    & ::v-deep path {
      fill: none;
      stroke: $accent;
    }
  }
}