<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
        <server name="APP_DEBUG" value="true" />
    </php>

    <testsuites>
        <testsuite name="Public Security">
            <directory>tests/Application/PublicAvailable/Security</directory>
        </testsuite>
        <testsuite name="Public Language">
            <directory>tests/Application/PublicAvailable/Language/List</directory>
        </testsuite>
        <testsuite name="Public Translation">
            <directory>tests/Application/PublicAvailable/Translation</directory>
        </testsuite>
        <testsuite name="Public Subscription">
            <directory>tests/Application/PublicAvailable/Subscription/List</directory>
        </testsuite>
        <testsuite name="Public Album">
            <file>tests/Application/PublicAvailable/Album/Create/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Create/CreateTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Update/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Update/UpdateTest.php</file>
            <file>tests/Application/PublicAvailable/Album/MyList/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Album/MyList/AllListTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Delete/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Delete/DeleteTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Publish/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Album/Publish/PublishTest.php</file>
        </testsuite>
        <testsuite name="Public User Session">
            <file>tests/Application/PublicAvailable/Session/MyList/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Session/MyList/AllListTest.php</file>
            <file>tests/Application/PublicAvailable/Session/Delete/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Session/Delete/DeleteTest.php</file>
            <file>tests/Application/PublicAvailable/Session/DeleteAll/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Session/DeleteAll/DeleteAllTest.php</file>
        </testsuite>
        <testsuite name="Public My Multimedia">
            <file>tests/Application/PublicAvailable/Multimedia/Upload/UploadTest.php</file>
            <file>tests/Application/PublicAvailable/Multimedia/Upload/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Multimedia/MyList/AccessCheckTest.php</file>
            <file>tests/Application/PublicAvailable/Multimedia/MyList/AllListTest.php</file>
            <file>tests/Application/PublicAvailable/DebugTest.php</file>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>
</phpunit>
